<div class="range-inputs">
    <div class="range-inputs__inputs">
        <input class="range-inputs__input form-control" type="number" value="{{ min }}" min="{{ min }}" max="{{ max }}">
        <span class="range-inputs__delimiter">—</span>
        <input class="range-inputs__input form-control" type="number" value="{{ max }}" min="{{ min }}" max="{{ max }}">
    </div>
    <input type="range" multiple value="{{ min }},{{ max }}" min="{{ min }}" max="{{ max }}" />
</div>
